.course-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
    border-left: 1px solid white;
    margin-bottom: 1.5rem;
  }
  
  .course-card .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .course-card .summary {
    grid-column: 1;
    grid-row: 1;
  }
  
  .course-card .course-id {
    grid-column: 2;
    grid-row: 1;
  }
  
  .course-card .ects {
    grid-column: 1;
    grid-row: 2;
  }
  
  .course-card .lesson-units {
    grid-column: 2;
    grid-row: 2;
  }
  
  .course-card .delete-button {
    grid-column: 1 / -1;
    justify-self: start;
    margin-top: 1rem;
  }