body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #2B09D2, #DB162F, #F18F01);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    font-family: sans-serif;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }