/* zentriert das äußere Wrapper-Element */
.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 100 % füllen ⇒ funktioniert sowohl in flex- als auch grid-Layouts */
  width: 100%;
  height: 100%;
}

/* eigentliche Animation */
.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  filter: blur(1px) contrast(1);
}

.loader::before,
.loader::after {
  content: '';
  grid-area: 1 / 1;
  width: 40px;
  height: 40px;
  background: #f18f01;
  animation: l7 2s infinite;
  border-radius: 10px;
}
.loader::after {
  animation-delay: -1s;
}

@keyframes l7 {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(100%, 0); }
  50%  { transform: translate(100%, 100%); }
  75%  { transform: translate(0, 100%); }
  100% { transform: translate(0, 0); }
}