/* ========================
   General Styles & Variables
======================== */

@import 'tailwindcss';

:root {
  --glass-bg: rgba(0, 0, 0, 0.3);
  --glass-color: #fff;
  --glass-radius: 3rem;
  --glass-padding: 2rem;
  --glass-margin-bottom: 1rem;
  --glass-blur: 10px;

  --layout-padding-desktop: 20px;
  --layout-padding-mobile: 10px;
  --side-nav-width: 20em;
  --side-nav-gap: 3rem;
  --main-content-padding-bottom: 4rem;

  --primary-color: #F18F01;
  --secondary-color: #2B09D2;
  --tertiary-color: #DB162F;

  --standard-font-size: 16px;
  --standard-font-size-mobile: 14px;
  --bigger-font-size: 20px;
  --bigger-font-size-mobile: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
    --glass-bg: rgba(255, 255, 255, 0.4);
    --glass-color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

/* ========================
   Reset & Base Styles
======================== */
* {
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--layout-padding-desktop);
}

h1, h2, h3, h4, h5, h6,
ul, li, p{
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ========================
   Typography Styles
======================== */

/* Mobile defaults */
h1 {
  font-size: 1.75rem; /* 28px */
  font-weight: 800;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  letter-spacing: -0.25px;
}

p,
a,
li {
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5;
}

/* Desktop overrides */
@media (min-width: 769px) {
  h1 {
    font-size: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 1.5rem; /* 24px */
  }

  p,
  a,
  li {
    font-size: 1.125rem; /* 18px */
  }
}
/* ========================
   Input Styles
======================== */
/* mache die Input Felder transparent mit border radius und niht zu klein
  verwende Farben aus dem Theme und geigenente definierte größen */

input,
textarea,
select {
  background: var(--glass-bg); 
  border: 2px solid var(--glass-color);
  border-radius: var(--glass-radius);
  padding: 0.5rem;
  font-size: inherit;
  color: var(--glass-color);
  width: 100%;
  margin-bottom: var(--glass-margin-bottom);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--bigger-font-size);
}

/* ========================
  Button Styles
======================== */
button {
  background: var(--glass-bg);
  border: 2px solid var(--glass-color);
  border-radius: var(--glass-radius);
  padding: 0.5rem 1rem;
  font-size: inherit;
  color: var(--glass-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button-with-icon {
  display: flex;
  align-items: center;
}


button:hover {
  background: var(--glass-color);
  color: var(--glass-bg);
  border: 2px solid ;
}


/* ========================
   Component Styles
======================== */
.glassCard {
  background: var(--glass-bg);
  border-radius: var(--glass-radius);
  padding: var(--glass-padding);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  color: var(--glass-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* ========================
   Desktop Layout (default)
======================== */
.layout {
  display: flex;
  min-height: calc(100vh - 2 * var(--layout-padding-desktop));
}

.side-nav {
  position: fixed;
  z-index: 10;
  top: var(--layout-padding-desktop);
  bottom: var(--layout-padding-desktop);
  width: var(--side-nav-width);
}

.side-nav li {
  position: relative;
  display: block;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.side-nav li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.2em;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.side-nav li:hover::after {
  width: 100%;
}

.main-content {
  flex-grow: 1;
  margin-left: calc(var(--side-nav-width) + var(--side-nav-gap));
}

.bottom-nav {
  display: none;
}

/* ========================
   Mobile Layout
======================== */
@media (max-width: 768px) {
  body {
    padding: var(--layout-padding-mobile);
    margin-bottom: 10rem;
  }

  .layout {
    flex-direction: column;
  min-height: calc(100vh - 2 * var(--layout-padding-mobile));

  }

  .side-nav {
    display: none;
  }

  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-content {
    margin-left: 0;
    padding-bottom: var(--main-content-padding-bottom);
  }

  .bottom-nav {
    display: block;
    position: fixed;
    bottom: var(--layout-padding-mobile);
    left: var(--layout-padding-mobile);
    right: var(--layout-padding-mobile);
    z-index: 10;
  }

  .bottom-nav-list {
    display: flex;
    justify-content: space-around;
  }
}