:root {
  --glass-bg: rgba(0, 0, 0, 0.5);
  --glass-color: #fff;
  --glass-radius: 3rem;
  --glass-padding: 2rem;
  --glass-margin-bottom: 1rem;
  --glass-blur: 10px;

  --layout-padding-desktop: 20px;
  --layout-padding-mobile: 10px;
  --side-nav-width: 17em;
  --main-content-padding-bottom: 4rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --glass-bg: rgba(255, 255, 255, 0.4);
    --glass-color: #000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--layout-padding-desktop);
}

* {
  box-sizing: border-box;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.glassCard {
  background: var(--glass-bg);
  border-radius: var(--glass-radius);
  padding: var(--glass-padding);
  margin-bottom: var(--glass-margin-bottom);

  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  color: var(--glass-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* ===== Layout Styles ===== */
.layout {
  display: flex;
  min-height: 100vh;
}

.side-nav {
  display: block;
  width: var(--side-nav-width);
}

.bottom-nav {
  display: none;
}

.main-content {
  flex-grow: 1;
}

/* Mobile styles */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .side-nav {
    display: none;
  }

  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  .bottom-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }

  .main-content {
    padding-bottom: var(--main-content-padding-bottom);
  }

  body {
    padding: var(--layout-padding-mobile);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}